# Postgres local: `npx prisma dev` imprime la URL a usar aquí
DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="https://localhost:5173"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# STUN público por defecto si no se define
PUBLIC_STUN_URLS="stun:stun.l.google.com:19302"
